[submodule "exercises/Bloco-10/exercises/Bloco-10/exercise-10.1/exercise-10-1"]
	path = exercises/Bloco-10/exercises/Bloco-10/exercise-10.1/exercise-10-1
	url = https://github.com/leosban/trybe-exercises.git
