.super-mario {
  width: 200px;
  margin-bottom: 200px;
  position: absolute;
  z-index: 1;
}

.goomba {
  width: 100px;
  margin-top: 300px;
  position: absolute;
  z-index: 2;
}

.bowser {
  width: 200px;
  margin-top: 450px;
  margin-left: 150px;
  position: absolute;
  z-index: 3;
}

.speach {
  font-size: 14px;
  position: absolute;
  margin-top: 480px;
  margin-left: 8px;
  z-index: 4;
}

.baloon {
  position: absolute;
  margin-top: 450px;
  height: 100px;

}



/* 1 - Posicione o Mário acima do Goomba.
2 - Posicione a tag p para que fique dentro do balão de fala.
3 - Posicione o balão para que se torne uma fala de Bowser. */