body {
  font-size: 16px;
}
h1 {
  font-size: 65px;
  color: orange;
  font-family: sans-serif;
  text-align: center;
  text-decoration: underline;
}
ul {
  background-color: red;
  width: 65px;
  line-height: 25px;
  width: 100px;
}
.paragrafoMaisLista {
  background-color: pink;
  width: 180px;
  width: 600px;
}
p {
  font-weight: 600;
  font-size: 3em;
}
#yellow {
  background-color: yellow;
}
#red {
  background-color: red;
}
#brown {
  background-color: brown;
}